// ============================================================================
//
// ALIGNMENT, SPACING, AND OVERRIDES
// Override default alignment, spacing, grid, and text.
//
// ============================================================================

// Text alignment
.text-center                  { text-align: center; }
.text-right                   { text-align: right; }
.text-left                    { text-align: left; }

// Inline hyperlink styles
.inline-link {
  @include em(margin-right, 15px);

  &:last-of-type {
    margin-right: 0;
  }

  // Add slight margin when using text links
  // and font-awesome icons
  &.fa {
    @include em(margin-right, 3px);
  }
}

// Removes list styling.
// For semantic reasons, should only
// be used on unordered lists.
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Inline block list items
.inline-item {
  display: inline-block;
}

// Floats
.float-left                   { float: left; }
.float-center                 { float: none; margin-left: auto !important;  margin-right: auto !important; }
.float-right                  { float: right; }


// Spacing
.no-space                     { margin: 0; padding: 0; }
.no-space-side                { padding-right: 0; padding-left: 0; }
.no-space-bottom              { margin-bottom: 0; padding-bottom: 0; }
.no-space-top                 { margin-top: 0; padding-top: 0; }
.space-bottom                 { @include em(margin-bottom, 32px); }
.space-bottom-small           { @include em(margin-bottom, 8px); padding-bottom: 0; }
.space-top                    { @include em(padding-top, 13px); }


// Text manipulation
.text-replace                 { text-indent: 100%; overflow: hidden; white-space: nowrap; }
.truncate                     { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }


// Reverses order of grid for content choreography
.grid-flip                    { float: right; margin-left: $grid-gutter; margin-right: 0; }