.header {
  @include em(padding-top, 5px);
  @include em(padding-bottom, 5px);
  background: $color-white;
}

.main {
  background: $color-white;
}

.footer {
  // @extend %padding-md;
  // @extend %no-padding-horz;
  @include em(font-size, 14px);
  background: $color-black;
  color: $color-white;

  h4 {
    color: $color-primary;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.copywrite {
  @include em(font-size, 11px);
  @include em(padding, 5px 10px);
  background: mix(#000, $color-black, 40%);
  text-align: center;

  p {
    margin: 0;
  }
}
