.header {
  @include em(padding-top, 5px);
  @include em(padding-bottom, 5px);
  background: $color-white;
}

.main {
  background: $color-white;
}

.footer {
  @include em(font-size, ($font-base - 1px));
  background: $color-black;
  color: $color-white;

  h4 {
    color: $color-primary;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.sigep-crest {
  background: url('../img/sigep-crest.png') no-repeat center center;
  // background: url('../img/sigep-crest.png') no-repeat 0 0;
  min-width: 330px;
  width: 330px;
  height: 412px;
}

.copywrite {
  @include em(font-size, 13px);
  @include em(padding, 5px 10px);
  background: mix(#000, $color-black, 40%);
  text-align: center;

  p {
    margin: 0;
  }
}
