.header {
  @include em(padding-top, 5px);
  @include em(padding-bottom, 5px);
  background: $color-white;
}

.main {
  @include em(padding-bottom, 50px);
  background: $color-white;
}

.footer {
  @extend %padding-md;
  @extend %no-padding-horz;
  @include em(font-size, 14px);
  background: $color-black;
  color: $color-white;

  h4 {
    color: $color-primary;
    font-weight: 400;
    text-transform: uppercase;
  }
}
