%hero {
  @extend %padding-lg;
  @extend %margin-lg;
  @extend %no-padding-horz;
  @extend %no-margin-top;
  @extend %no-margin-horz;
  background: $color-secondary;
  position: relative;
  z-index: 2;
}

.hero-large {
  @extend %hero;
  @include em(height, 400px);
  color: $color-white;
  text-shadow: 0 1px 0 $color-black;
  overflow: hidden;
  opacity: 1;
  position: relative;

  > img {
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 1;
    margin-left: -50%;

    @include mq($from: tablet) {
      margin-left: 0;
      width: 100%;
    }
  }

  &::before {
    background: rgba($color-secondary, .85);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.hero-small {
  @extend %hero;
  @include em(height, 200px);
  color: text-color($color-secondary);
}

%hero-content {
  text-transform: uppercase;
  position: relative;
  z-index: 2;

  h1 {
    @extend %no-margin;
    text-transform: uppercase;
  }

  span {
    display: block;
    margin-top: $spacing;
  }
}

.hero-content {
  @extend %hero-content;
  @extend .text-center;
  @include align();

  .hero-large > & > h1 {
    @include em(margin-bottom, 20px);
  }
}
