%hero {
  @extend %padding-lg;
  @extend %margin-lg;
  @extend %no-padding-horz;
  @extend %no-margin-top;
  @extend %no-margin-horz;
  background: $color-secondary;
  color: text-color($color-secondary);
  position: relative;
}

.hero-large {
  @extend %hero;
  @include em(height, 400px);
}

.hero-small {
  @extend %hero;
  @include em(height, 200px);
}

%hero-content {
  text-transform: uppercase;

  h1 {
    @extend %no-margin;
  }

  span {
    display: block;
    margin-top: $spacing;
  }
}

.hero-content {
  @extend %hero-content;
  @extend .text-center;
  @include align();
}
