.blog-post {
  @include em(margin-bottom, 75px);
  @include em(padding-bottom, 30px);

  .img {
    width: 100%;
  }

  a {
    @include em(font-size, 15px);
    text-transform: capitalize;
  }
}

.blog-post--preview {
  @extend %margin-lg;
  @extend %no-margin-horz;
  @include em(font-size, 15px);
}

.blog-post--header {
  @include em(margin-bottom, 15px);

  h2 {
    @include em(font-size, 28px);
    // font-style: italic;
    margin-bottom: 0;
  }

  span {
    @extend %margin-md;
    @extend %no-margin-top;
    @extend %no-margin-horz;
    display: inline-block;
  }
}

.blog-post--content {
  margin: auto;
  width: 100%;

  @media (min-width: $bp-medium) {
    width: 70%;
  }

  @media (min-width: $bp-large) {
    width: 60%;
  }
}
