.blog-post {
  @extend %padding-lg;
  @include em(border-radius, 5px);
  @include em(margin-bottom, 30px);
  border: em(1px) solid $color-gray-light;

  .img {
    width: 100%;
  }

  a {
    @include em(font-size, 14px);
    text-transform: capitalize;
  }
}

.blog-post--preview {
  @extend %margin-lg;
  @extend %no-margin-horz;
  @include em(font-size, 14px);
}

.blog-post--header {
  @include em(margin-bottom, 15px);

  h2 {
    font-style: italic;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  span {
    display: inline-block;
  }
}
