.container-recent-news {}

.blog-post {
  background: $color-white;
  border: em(1px) solid darken($color-white, 30%);
  border-radius: em(3px);
  padding: 20px;

  p {
    @include em(font-size, 13px);
  }
}