.container-main-nav {
  background: $color-white;
  border-bottom: em(3px) solid darken($color-white, 10%);
  @include em(padding, 5px 0);
}

.main-nav {
  margin-bottom: 0;
  @include em(margin-top, 23px);

  li {
    @include em(padding-left, 30px);

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    border-bottom: em(3px) solid;
    border-color: rgba(255, 255, 255, 0);
    color: $color-black;
    text-transform: capitalize;
    transition: color 0.3s ease-in-out, border-color 0.2s ease-in-out;
    @include em(padding-bottom, 3px);

    &:hover {
      border-bottom: em(3px) solid;
      border-color: $color-primary;
      color: $color-primary;
      text-decoration: none;
    }
  }
}

.logo {
  img {
    @include em(margin-right, 12px);
  }

  h1 {
    @include em(margin-top, 6px);
  }
}
