// Fixed header styles
header{
  z-index: 3;
  position: fixed;
  width: 100%;
}

// Banner styles
// Need to calculate container min-height and banner background position
// Both are determined by both navigation heights
.banner{
  background: url("../img/banner.jpg") center center fixed;
  background-size: cover;

  .container {
    min-height: 575px;
    position: relative;
  }

  .headline {
    color: $color-white;
    position: absolute;
    top: 50%;
  }
}

// Body styles
.section {
  @include em(padding-top, 100px);
  @include em(padding-bottom, 100px);
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}