// Fixed header styles
header{
  z-index: 1;
  position: fixed;
  width: 100%;
}

// Banner styles
// Need to calculate container min-height and banner background position
// Both are determined by both navigation heights
.banner{
  background: url("../img/banner.jpg") center center fixed;
  background-size: cover;

  .container {
    min-height: 650px;
    position: relative;
  }

  .headline {
    color: $color-white;
    position: absolute;
    top: 50%;
  }
}

// Body styles
.section {
  @include em(padding-top, 100px);
  @include em(padding-bottom, 100px);
}