.social-media {
  @include em(margin-top, 75px);
  @include em(margin-bottom, 75px);
  @include em(padding, 50px 20px);
  background: lighten($color-gray-light, 10%);
  text-align: center;

  ul {
    @extend %list-unstyled;
  }
}

.social-media--links {
  ul > li > a {
    @include em(padding, 3px 0);
    color: $color-white;
    display: inline-block;

    > .fa {
      @include em(margin-right, 10px);
    }
  }
}

.tweet {
  @include mq($from: tablet) {
    margin: 0 auto;
    width: 80%;
  }
}