.container-sub-nav {
  background: $color-black;
}

.sub-nav {
  margin-bottom: 0;
  @include em(font-size, 12px);
  @include em(padding, 5px 0);

  li {
    position: relative;
    @include em(padding-left, 20px);

    &:after {
      content: "/";
      color: $color-white;
      position: absolute;
      top: 0; left: em(4px);
    }

    &:first-child:after {
      content: " ";
    }

    a {
      color: $color-white;
    }
  }
}

