// ----------------------------------------------------------------------------
//
// Navigation
// Navigation and variations
//
// ----------------------------------------------------------------------------
.navigation ul {
  text-align: center;

  @media (min-width: $bp-large) {
    text-align: right;
  }
}

.navigation ul li {
  @extend %inline-item;
  @include em(font-size, 14px);
  @include em(margin, 10px);
  text-transform: uppercase;
}