// ----------------------------------------------------------------------------
// Buttons
// Button basic styles.
//
// 1. Button structure
// 2. Secondary style
// 3. Button states
//
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// 1. Basic structure
// ----------------------------------------------------------------------------
.btn {
  @include em(border-radius, 1px);
  @include em(font-size, 15px);
  @include em(margin-right, 5px);
  @include em(margin-bottom, 5px);
  @include em(padding, 8px 11px);
  background-color: $color-primary;
  border: em(1px) solid $color-primary;
  color: $color-white;
  display: inline-block;
  font-weight: normal;
  line-height: 1.2;

  &:hover {
    background-color: darken($color-primary, 15%);
    border-color: darken($color-primary, 15%);
    color: $color-white;
    text-decoration: none;
  }

  &:focus,
  &:active {
    box-shadow: inset 0 em(2.5px) em(4px) rgba(0, 0, 0, 0.15), 0 em(1px) em(2.5px) rgba(0, 0, 0, 0.05);
    outline: 0;
  }
}

// Remove last margin
.btn:last-child,
input.btn {
  margin-right: 0;
}


// ----------------------------------------------------------------------------
// 2. Secondary style
// ----------------------------------------------------------------------------
.btn-secondary {
  @extend .btn;
  background-color: $color-gray-dark;
  border-color: $color-gray-dark;

  &:hover,
  &.active {
    background-color: darken($color-gray-dark, 15%);
    border-color: darken($color-gray-dark, 15%);
  }
}

// Large style
.btn-large {
  @include em(padding, 11px 15px);
  font-size: 1em;
  line-height: normal;
}


// ----------------------------------------------------------------------------
// 3. Button states
// ----------------------------------------------------------------------------
.btn-block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  display: block;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

// Disabled view
.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  opacity: 0.5;
  pointer-events: none;
}

