// ----------------------------------------------------------------------------
// Forms
// Basic styling for form elements
//
// 1. Form structure
// 2. Title styles
// 3. Input structure
// 4. Input states
// 5. Form buttons
// ----------------------------------------------------------------------------


// ----------------------------------------------------------------------------
// 1. Form structure
// ----------------------------------------------------------------------------
form,
fieldset {
  margin-bottom: $spacing;
}


// ----------------------------------------------------------------------------
// 2. Title styles
// ----------------------------------------------------------------------------
legend,
label {
  @include em(margin-bottom, 5px);
  display: block;
  font-weight: normal;
  padding: 0;
}

legend {
  @include em(font-size, 16px);
  font-weight: bold;
  text-transform: capitalize;
}


// ----------------------------------------------------------------------------
// 3. Input structure
// ----------------------------------------------------------------------------
input,
textarea,
select {
  @include em(border-radius, 1px);
  @include em(margin-bottom, 19px);
  @include em(padding, 5px);
  border: em(1px) solid lighten( $color-gray-dark, 22% );
  color: lighten($color-black, 18%);
  display: block;
  line-height: 1.5;
  width: 100%;

  @media (min-width: $bp-medium) {
    line-height: 1.5625;
  }
}

textarea {
  height: 12em;
}


// ----------------------------------------------------------------------------
// 4. Input states
// ----------------------------------------------------------------------------

// Remove input focus
input:focus,
select:focus,
textarea:focus,
input[type="file"]:focus,
input[type="checkbox"]:focus {
  outline: 0;
}


// ----------------------------------------------------------------------------
// 5. Form buttons
// ----------------------------------------------------------------------------
form button,
form .button {
  @include em(margin-bottom, 19px);
}

// Setup form button
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  cursor: pointer;
  height: auto;
  width: auto;
  @include em(margin-bottom, 5px);
}