// ----------------------------------------------------------------------------
// Logo
// Logo and variations
// ----------------------------------------------------------------------------
.logo {
  @extend %no-margin;
  text-align: center;
  text-transform: capitalize;

  &::before {
    @include em(margin-right, 5px);
    background: url('../img/logo.png') no-repeat center center;
    content: '';
    display: inline-block;
    height: 65px;
    vertical-align: middle;
    width: 65px;
  }

  @include mq($from: desktop) {
    text-align: left;
  }
}
