// ----------------------------------------------------------------------------
// Grid
// Structure and layout.
//
// 1. Common grid styles
// 2. Grid classes
// ----------------------------------------------------------------------------


// ----------------------------------------------------------------------------
// 3. Common grid styles
// ----------------------------------------------------------------------------

// Set all elements as border box
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Clearfix class
%clearfix { @include cf();}

.row,
.group,
.clearfix {
  @extend %clearfix;
  height: 100%;
}

// Set page container
.container {
  @include center($pad: em(20px));
  height: 100%;
}

// Reverses displayed html
.flip {
  float: right;
}

// Media object
.media {
  @include em(margin-bottom, 20px);

  .img {
    @include em(margin-right, 10px);
    float: left;
  }
}


// ----------------------------------------------------------------------------
// 2. Grid classes
// ----------------------------------------------------------------------------

.grid {
  transition: width .25s ease-in-out;
}

.whole-xs                        { @include col(1/1); }

@include mq($from: tablet) {
  .third-md                      { @include col(1/3); }
  .two-third-md                  { @include col(2/3); }
}

@include mq($from: desktop) {
  .third-lg                      { @include col(1/3); }
  .two-third-lg                  { @include col(2/3); }
  .two-fifth-lg                  { @include col(2/5); }
  .three-fifth-lg                { @include col(3/5); }
}
