// ----------------------------------------------------------------------------
// Typography
// Set all text styles.
//
// 1. Basic styling
// 2. Text modifiers
// 3. Hyperlinks
// 4. Lists
// 5. Headings
// 6. Misc
// 7. Selections
// 8. Quotes
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// 1. Basic styling
// ----------------------------------------------------------------------------
body {
  background: $color-white;
  color: $color-black;
  font-family: $font-primary;
  font-size: $font-base/16px * 100%;
  line-height: 1.5;
}

p {
  margin-bottom: $spacing;
}

@include mq($from: tablet) {
  body {
    line-height: 1.5625;
  }
}


// ----------------------------------------------------------------------------
// 2. Text modifiers
// ----------------------------------------------------------------------------
.text-small {
  @include em(font-size, 12px);
}

.text-tall {
  @include em(font-size, 19px);
  line-height: 1.4;
}

@include mq($from: tablet) {
  .text-tall {
    @include em(font-size, 21px);
  }
}

.text-muted {
  color: $color-gray-dark;
}


// ----------------------------------------------------------------------------
// 3. Hyperlinks
// ----------------------------------------------------------------------------

// Basic hyperlink styles
a {
  color: $color-primary;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: darken($color-primary, 15%);
    text-decoration: none;
  }
}

// Image wrapped in a link
a img {
  background: none;
  border: none;
}

// Prevents border/background on linked image hover.
// Adds slight opacity.
a:hover img {
  background: none;
  border: none;
  filter: alpha(opacity=80);
  opacity: 0.8;
}


// ----------------------------------------------------------------------------
// 4. Lists
// ----------------------------------------------------------------------------

// Basic list structure
ul,
ol,
dl {
  margin-bottom: $spacing;
}

// Remove last margin on group
// of lists
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

// Set default list style
ul { list-style: disc; @include em(padding-left, 16px);}
ol { list-style: decimal; }
dl { margin-left: 0; }
dt { font-weight: bold; }

// Remove definition margin
dd { margin-left: 0; }

// Removes list styling.
// For semantic reasons, should only
// be used on unordered lists.
.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


// ----------------------------------------------------------------------------
// 5. Headings
// ----------------------------------------------------------------------------

// h1 through h6 styling
// Heading class lets you use one heading type for semantics
// but style it as another heading type.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1em;
  text-transform: capitalize;
  word-wrap: break-word;
}

// Based on Major Second type-scale.
h1,
.h1 { @include em(font-size, 26px); }

h2,
.h2 { @include em(font-size, 23px); }

h3,
.h3 { @include em(font-size, 20px); }

h4,
.h4 { @include em(font-size, 18px); }

h5,
.h5 { @include em(font-size, 16px); }

h6,
.h6 { @include em(font-size, 14px); }


// ----------------------------------------------------------------------------
// 6. Misc
// ----------------------------------------------------------------------------

// Lines
hr {
  border: 0;
  border-top: em(1px) solid $color-gray-light;
  margin: 1em auto;
}

// Italics
em {
  font-style: italic;
}

// Subscript & Superscript
sub,
sup {
  @include em(margin-left, 4px);
  font-weight: bold;
}

.img {
  height: auto;
  max-width: 100%;
}

// ----------------------------------------------------------------------------
// 7. Selections
// ----------------------------------------------------------------------------
::selection {
  background: $color-primary;
  color: $color-white;
}

::-moz-selection {
  background: $color-primary;
  color: $color-white;
}


// ----------------------------------------------------------------------------
// 8. Quotes
// ----------------------------------------------------------------------------
blockquote {
  padding-right: $spacing;
  padding-left: $spacing;
}

blockquote, q {
  @include em(font-size, 20px);
  text-align: center;
  quotes: none;

  &::before,
  &::after {
    @include em(font-size, 20px);
    color: mix($color-white, $color-gray-dark, 20%);
    font-family: 'Bitter', serif;
  }

  &::before {
    content: '\275D';
  }

  &::after {
    content: '\275E';
  }
}
