// ----------------------------------------------------------------------------
// Forms
// Input structure
// ----------------------------------------------------------------------------
input,
textarea,
select {
  @include em(border-radius, 1px);
  @include em(margin-bottom, 19px);
  @include em(padding, 5px);
  border: em(1px) solid lighten($color-gray-dark, 22%);
  color: lighten($color-black, 18%);
  display: block;
  line-height: 1.5;
  width: 100%;

  @include mq($from: tablet) {
    line-height: 1.5625;
  }
}

textarea {
  height: 12em;
}
