// ============================================================================
//
// TYPOGRAPHY
// Sets font styles for entire site.
//
// 1. Page structure
// 2. Text sizes
// 3. Colors
// 4. Links
// 5. Lists
// 6. Headings
// 7. Lines, Quotes and Emphasis
// 8. Highlighting colors
// 9. Blockquotes
//
// ============================================================================

// ============================================================================
// 1. Page structure
// ============================================================================
body {
  background: $color-white;
  color: $color-black;
  font-family: $font-secondary;
  font-size: $font-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  @media (min-width: $bp-medium) {
    line-height: 1.7;
  }
}

p {
  margin-bottom: $spacing;

  &:last-child {
    margin-bottom: 0;
  }
}


// ============================================================================
// 2. Text sizes
// ============================================================================

// Sizes for smaller and larger text
.text-small {
  @include em(font-size, 15px);
}

.text-tall {
  line-height: 1.4;
  @include em(font-size, 19px);
}

@media (min-width: $bp-medium) {
  .text-tall {
    @include em(font-size, 21px);
  }
}


// ============================================================================
// 3. Colors
// ============================================================================

// For alternate text colors
.text-muted {
  color: $color-gray-dark;
}


// ============================================================================
// 4. Links
// ============================================================================

// Hyperlink styling
a {
  color: $color-primary;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color: darken($color-primary, 15%);
  text-decoration: underline;
}

a img {
  border: none;
  background: none;
}

// Prevents border/background on linked image hover.
// Adds slight opacity.
a:hover img {
  border: none;
  background: none;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

// Inline hyperlink styles
.inline-link {
  @include em(margin-right, 15px);

  &:last-of-type {
    margin-right: 0;
  }

  // Add slight margin when using text links
  // and font-awesome icons
  &.fa {
    @include em(margin-right, 3px);
  }
}

// ============================================================================
// 5. Lists
// ============================================================================

// Styling for lists
ul,
ol,
dl {
  margin-bottom: $spacing;
  @include em(margin-top, 0);
  @include em(margin-left, 0);
  @include em(padding-left, 17px);
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dl,
dd {
  margin-left: 0;
}

dt {
  font-weight: bold;
}

// Removes list styling.
// For semantic reasons, should only
// be used on unordered lists.
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

// Inline block list items
.inline-item {
  display: inline-block;
}


// ============================================================================
// 6. Headings
// ============================================================================

// h1 through h6 styling
// Heading class lets you use one heading type for semantics
// but style it as another heading type.
h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  line-height: 1.2;
  font-weight: normal;
  text-transform: capitalize;
  @include em(margin, 0);
  @include em(padding, 0);
}

// Font sizes based on "Minor Third" type-scale.com
h1,
.h1 {
  @include em(font-size, 33px);
}

h2,
.h2 {
  @include em(font-size, 27px);
}

h3,
.h3 {
  @include em(font-size, 23px);
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-style: italic;
  @include em(font-size, 18px);
}

h4,
.h4 {
  font-style: initial;
  text-transform: uppercase;
}


// ============================================================================
// 7. Lines, Quotes and Emphasis
// ============================================================================

// Lines
hr {
  border: 0;
  border-top: em(1px) solid $color-gray-light;
  border-bottom: 0 solid $color-white;
  margin: em(32px) auto;
}

// Subscript & Superscript
sub,
sup {
  font-size: 85%;
  font-weight: bold;
  @include em(margin-left, 4px);
}

// ============================================================================
// 8. Highlighting colors
// ============================================================================
::selection {
  color: $color-white;
  background: $color-primary;
}

::-moz-selection {
  color: $color-white;
  background: $color-primary;
}

// ============================================================================
// 9. Blockquotes
// ============================================================================
blockquote {
  border-left: em(4px) solid $color-gray-light;
  margin-bottom: $spacing;
  padding-left: $spacing;
  padding-right: $spacing;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}